{# templates/vhost/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{% trans %}Vhost Index{% endtrans %}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>{% trans %}Vhost Index{% endtrans %}</h1>
            <a href="{{ path('app_vhost_edit', {id: 0}) }}" class="btn btn-primary">{% trans %}New Vhost{% endtrans %}</a>
        </div>

        {% if vhosts|length > 0 %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th>{% trans %}ID{% endtrans %}</th>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}VhostType{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vhost in vhosts %}
                        <tr>
                            <td>{{ vhost.id }}</td>
                            <td>{{ vhost.name }}</td>
                            <td>{{ vhost.vhostType.name }}</td>
                            <td>
                                <a href="{{ path('app_vhost_edit', {id: vhost.id}) }}" class="btn btn-sm btn-info me-2">{% trans %}Edit{% endtrans %}</a>
                                <a href="#" class="btn btn-sm btn-danger">{% trans %}Delete{% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                {% trans %}No Vhosts found{% endtrans %}
            </div>
        {% endif %}
    </div>
{% endblock %}
