{% extends 'base.html.twig' %}

{% block title %}Initial index{% endblock %}

{% block body %}
    <h1>Initial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SslMode</th>
                <th>DomainSuffix</th>
                <th>LogDirFormat</th>
                <th>SslCertificate</th>
                <th>SslCertificateKey</th>
                <th>WellKnownDir</th>
                <th>ClientMaxBodySize</th>
                <th>ClientBodyTimeount</th>
                <th>FastcgiBuffers</th>
                <th>Other</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.sslMode }}</td>
                <td>{{ entity.domainSuffix }}</td>
                <td>{{ entity.logDirFormat }}</td>
                <td>{{ entity.sslCertificate }}</td>
                <td>{{ entity.sslCertificateKey }}</td>
                <td>{{ entity.wellKnownDir }}</td>
                <td>{{ entity.clientMaxBodySize }}</td>
                <td>{{ entity.clientBodyTimeout }}</td>
                <td>{{ entity.fastcgiBuffers }}</td>
                <td>{{ entity.other ? entity.other|json_encode : '' }}</td>
                <td>
                    <a href="{{ path(PREFIX ~ 'show', {'id': entity.id}) }}">show</a>
                    <a href="{{ path(PREFIX ~ 'edit', {'id': entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path(PREFIX ~ 'new') }}">Create new</a>
{% endblock %}
