{# templates/components/VhostGenerator.html.twig #}
<div {{ attributes }} >
    {% if this.vhost.id is null %}
        <h1>Generar nuevo Vhost</h1>
    {% else %}
        <h1>Editar Vhost: {{ this.vhost.name }}</h1>
    {% endif %}
    {% set common = vhostGeneratorDto.commonParameters %}
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form, { attr: {
                                        'data-model': 'on(input)|debounce(300)|vhostGeneratorDto',
                                        'data-action': 'live#action:prevent',
                                        'data-live-action-param': 'save'
                                        }
                                }
                        )
            }}
                {{ form_row(form.name) }}
                {{ form_row(form.vhostType) }}

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCommon">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCommon" aria-expanded="true" aria-controls="collapseCommon">
                                Parámetros Globales
                            </button>
                        </h2>
                        <div id="collapseCommon" class="accordion-collapse collapse show" aria-labelledby="headingCommon">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-3 mt-2">{{ form_label(form.commonParameters.documentRoot) }}</div>
                                    <div class="col-8">{{ form_widget(form.commonParameters.documentRoot) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-3 mt-2">{{ form_label(form.commonParameters.serverName) }}</div>
                                    <div class="col-3">{{ form_widget(form.commonParameters.serverName) }}</div>
                                    <div class="col-6">{{ form_widget(form.commonParameters.domainSuffix )}}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-3 mt-2">{{ form_row(form.commonParameters.useHttp )}}</div>
                                    {% if common.useHttp %}
                                    <div class="col-2 mt-2">{{ form_label(form.commonParameters.httpPort) }}</div>
                                    <div class="col-3">{{ form_widget(form.commonParameters.httpPort) }}</div>
                                    <div class="col-4 mt-2">{{ form_row(form.commonParameters.useHttpRedirect )}}</div>
                                    {% else %}
                                        {% do form.commonParameters.httpPort.setRendered %}
                                        {% do form.commonParameters.useHttpRedirect.setRendered %}
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-3">{{ form_row(form.commonParameters.useHttps )}}</div>
                                    {% if common.useHttps %}
                                        <div class="col-2">{{ form_label(form.commonParameters.httpsPort )}}</div>
                                        <div class="col-3">{{ form_widget(form.commonParameters.httpsPort )}}</div>
                                        <div class="row">
                                            <div class="col-3 mt-2">{{ form_label(form.commonParameters.sslMode) }}</div>
                                            <div class="col-9">{{ form_widget(form.commonParameters.sslMode) }}</div>
                                        </div>
                                        {% if form.commonParameters.sslMode.vars.value == 'letsencrypt' %}
                                            <div class="row">
                                                <div class="col-4 mt-2">{{ form_label(form.commonParameters.wellKnownDir )}}</div>
                                                <div class="col-8">{{ form_widget(form.commonParameters.wellKnownDir )}}</div>
                                            </div>
                                            {%- do form.commonParameters.sslCertificate.setRendered -%}
                                            {%- do form.commonParameters.sslCertificateKey.setRendered -%}
                                        {% else %}
                                            <div class="row">
                                                <div class="col-4 mt-2">{{ form_label(form.commonParameters.sslCertificate )}}</div>
                                                <div class="col-8">{{ form_widget(form.commonParameters.sslCertificate )}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 mt-2">{{ form_label(form.commonParameters.sslCertificateKey )}}</div>
                                                <div class="col-8">{{ form_widget(form.commonParameters.sslCertificateKey )}}</div>
                                            </div>
                                            {%- do form.commonParameters.wellKnownDir.setRendered -%}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-4 mt-2">{{ form_label(form.commonParameters.sslVerifyClient )}}</div>
                                            <div class="col-3">{{ form_widget(form.commonParameters.sslVerifyClient )}}</div>
                                        {% if form.commonParameters.sslVerifyClient.vars.value != "off" %}
                                            <div class="col-3 mt-2">{{ form_row(form.commonParameters.sslClientFastcgi )}}</div>
                                        </div>
                                            {% if form.commonParameters.sslVerifyClient.vars.value != "optional_no_ca" %}
                                            <div class="row">
                                                <div class="col-4 mt-2">{{ form_label(form.commonParameters.sslClientCertificate )}}</div>
                                                <div class="col-8">{{ form_widget(form.commonParameters.sslClientCertificate )}}</div>
                                            </div>
                                            {% else %}
                                                {% do form.commonParameters.sslClientCertificate.setRendered %}
                                            {% endif %}
                                        {% else %}
                                        </div>
                                            {% do form.commonParameters.sslClientCertificate.setRendered %}
                                            {% do form.commonParameters.sslClientFastcgi.setRendered %}
                                        {% endif %}
                                    {% else %}
                                        {% do form.commonParameters.httpsPort.setRendered %}
                                        {% do form.commonParameters.sslVerifyClient.setRendered %}
                                        {% do form.commonParameters.sslClientFastcgi.setRendered %}
                                        {% do form.commonParameters.sslMode.setRendered %}
                                        {% do form.commonParameters.sslCertificate.setRendered %}
                                        {% do form.commonParameters.sslCertificateKey.setRendered %}
                                        {% do form.commonParameters.sslClientCertificate.setRendered %}
                                        {% do form.commonParameters.wellKnownDir.setRendered %}
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-7">{{ form_label(form.commonParameters.clientMaxBodySize) }}</div>
                                    <div class="col-5">{{ form_widget(form.commonParameters.clientMaxBodySize) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-7 mt-2">{{ form_label(form.commonParameters.clientBodyTimeout) }}</div>
                                    <div class="col-5">{{ form_widget(form.commonParameters.clientBodyTimeout) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-5 mt-2">{{ form_label(form.commonParameters.fastcgiBuffers) }}</div>
                                    <div class="col-7">{{ form_widget(form.commonParameters.fastcgiBuffers) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-5 mt-2">{{ form_label(form.commonParameters.useStaticFiles) }}</div>
                                    <div class="col-7">{{ form_widget(form.commonParameters.useStaticFiles) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-5 mt-2">{{ form_label(form.commonParameters.logDirFormat) }}</div>
                                    <div class="col-7">{{ form_widget(form.commonParameters.logDirFormat) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if form.specificParameters is defined %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSpecific">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecific" aria-expanded="false" aria-controls="collapseSpecific">
                                Parámetros Específicos
                            </button>
                        </h2>
                        <div id="collapseSpecific" class="accordion-collapse collapse" aria-labelledby="headingSpecific">
                            <div class="accordion-body">{{ form_widget(form.specificParameters)}}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingExtra">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExtra" aria-expanded="false" aria-controls="collapseExtra">
                                Bloque extra (opcional)
                            </button>
                        </h2>
                        <div id="collapseExtra" class="accordion-collapse collapse" aria-labelledby="headingExtra">
                            <div class="accordion-body">{{ form_widget(form.commonParameters.extraBlock) }}</div>
                        </div>
                    </div>

                </div>

                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-primary">Guardar Vhost</button>
                </div>
            {% if app.environment != 'prod' %}{{ form_row(form.debug)}}{% else %}{% do form.debug.setRendered %}{% endif %}
            {{ form_end(form) }}
        </div>

        <div class="col-md-6">
            <h3>Vista Previa del Vhost</h3>
            <pre class="bg-light p-3 border rounded">
                <code>
                {{ this.renderVhostTemplate()|e }}
                </code>
            </pre>
        </div>
    </div>
</div>
